* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --bg-color-portfolio: #22212c;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/mon-star.svg);
  --bg-color-menu-tec: #00a3ff;
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
}
.orange {
  --bg-color-menu-tec: #f90;
}
.portfolio {
  --text-color: white;
  --bg-color-portfolio: #22212c;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --bg-color-menu-tec: #00a3ff;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*margin: 56px auto 0px;*/
  margin: 0px auto 0px;
  padding: 0px 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  padding-top: 56px;
}
#profile p {
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-top: 8px;
}
/*---- switch----*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  height: 32px;
  width: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0px;

  border-radius: 50%;
  transition: 0.2s;

  /*para alinhar possicionamento absoluto - responsavel por deixar o sol na linha do track bem centralizado*/
  position: absolute;
  top: 50%;
  /*left: 0px;*/
  animation: slider-out 0.2s forwards;
  z-index: 1;
  transform: translateY(-50%);
}
#switch button:hover {
  outline: 6px solid var(--highlight-color);
}
.light #switch button {
  animation: slider-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*---links---*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}
ul li a {
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
  backdrop-filter: blur(4px);
}

#social-links {
  display: flex;
  justify-content: center;

  /*gap: 16px;*/

  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
}

/*alteração de imagem do BG*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animação */
@keyframes slider-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slider-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/*PAGINA PORTFÓLIO*/

#cert {
  background: var(--bg-color-cert);
  height: 100vh;
}

#portfolio {
  height: 100vh;
  width: 100%;
  max-width: 488px;
  margin: 0px auto 0px;
  background: var(--bg-color-portfolio);
}

#perfil {
  position: relative;
  margin: auto;
  width: 100%;
  height: 230px;
}

#perfil img {
  position: absolute;
  width: 106px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  margin-left: 10%;
  margin-right: auto;
}
#perfil-desc {
  float: right;
  display: absolute;
  /*width: 266px;*/
  width: 70%;
  height: 150px;
  border-radius: 20px;
  background: #302f3d;
  top: 50%;
  margin-right: 10%;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 25px;
}

#tecnologias {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 98%;
  height: 225px;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#menu-tec {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  gap: 12px;
  font-size: 13px;
  transition: background 0.3s;
}
#menu-tec ul li {
  color: #000;
  text-align: center;
  font-family: Merriweather Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 93.908px;
  height: 25.962px;
  border-radius: 30px;
  background: var(--bg-color-menu-tec);
}
#tecnologias p {
  padding-top: 5px;
  padding-left: 20px;
  color: #837e9f;
  font-family: Merriweather Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/*#perfil-desc p{*/
.nome {
  margin-top: 40px;
  text-align: right;
  margin-right: 29px;
  color: #837e9f;
  font-family: Merriweather Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.desc {
  text-align: right;
  margin-right: 29px;
  color: #837e9f;
  font-family: Merriweather Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#paragrafo {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ddd;
  font-size: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5px;
}
#paragrafo span {
  align-items: center;
  display: flex;
  color: #837e9f;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  scroll-behavior: smooth;
}
#paragrafo p {
  align-items: center;
  display: flex;
  color: #ddd;
  font-family: Poppins, sans-serif;
  font-size: 36px;
  scroll-behavior: smooth;
}
#size-carouseL{
  display: block;
  width: 95%;

}
.carousel {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 90%;
  overflow: hidden;
  position: relative;
}
.itens-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border: 0.75px solid rgb(51, 51, 51);
  border-radius: 1rem;
  margin: 5px;

}
.carousel img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  
  
  
}
